* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #f1e7ed;
}

html {
  scroll-behavior: smooth;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/175/184/original/damselnail-1.jpg?1761323107);
  background-position: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 1rem;
  height: 100vh;
  font-family: "Playfair Display", serif;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

a {
  font-family: "Poppins", sans-serif;
}

h2 {
  color: #f50581;
}

.gridx2,
.gridx3,
.gridx4 {
  display: grid;
  padding: 50px;
}
.gridx2 {
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}
.gridx3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.gridx4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
  max-width: 90%;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding: 15px;
  gap: 20px;
}

.slow-animataion {
  animation-duration: 2s !important;
}

.card img {
  width: 70%;
  height: 50%;
}

.bg {
  background-color: #50464d;
}

.fa-quote-right {
  left: 30%;
  bottom: 0;
  font-size: 50px;
}

.black {
  margin: 0 auto;
  display: block;
  width: 100px;
}

.black img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

form label {
  font-weight: 500;
}

form input,
form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  background: #fafafa;
}

form input:focus,
form textarea:focus {
  outline: none;
  border-color: #f472b6; /* nude tone */
}

form label,
form input,
form textarea,
form button {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

form button {
  padding: 14px;
  background: #f472b6;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}

form button:hover {
  background: #e4519d;
}

.contact-info {
  max-width: 600px;
  background: #fff;
  margin: 20px auto 50px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.contact-info h3,
.contact-info h4 {
  font-family: "Playfair Display", serif;
  margin-bottom: 10px;
}

.contact-info p {
  margin: 5px 0;
  font-size: 15px;
}

.contact-info hr {
  margin: 20px 0;
  border: none;
  height: 1px;
  background: #eee;
}

footer {
  background: rgb(15, 22, 41);
}

footer .fa-brands {
  font-size: 22px;
}

.map-section {
  text-align: center;
  padding: 40px 20px;
}

.map-section h2 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
}

.map {
  width: 100%;
  aspect-ratio: 16/9;
}
.map-container {
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.gridx2 img {
  max-width: 80%;
  max-height: 80%;
  object-fit: cover;
}

.bridal-nails {
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 900px) {
  .gridx3,
  .gridx4 {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .gridx2 {
    grid-template-columns: 1fr;
    gap: 5px;
  }

  .black {
    margin: 0 auto;
    display: block;
    width: 100px;
    margin-top: 20px;
  }

  .gridx2 .container {
    padding: 0;
    gap: 5px;
  }
  .contact-info h3,
  .contact-info h4,
  .contact-info p {
    text-align: center;
  }

  .map-section {
    padding: 20px 20px;
  }

  .icon-container a .fa-brands {
    margin-top: 10px;
  }
}
