* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/175/184/original/damselnail-1.jpg?1761323107);
  background-position: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 1rem;
  height: 100vh;
  font-family: "Playfair Display", serif;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

a {
  font-family: "Poppins", sans-serif;
}

h2 {
  color: #f50581;
}

.gridx3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  padding: 5px 50px;
}

.card {
  max-width: 90%;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding: 15px;
  gap: 20px;
}

.card img {
  width: 70%;
  height: 50%;
}

@media (max-width: 900px) {
  .gridx3 {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
