* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/175/184/original/damselnail-1.jpg?1761323107);
  background-position: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 1rem;
  height: 100vh;
  font-family: "Playfair Display", serif;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

a {
  font-family: "Poppins", sans-serif;
}

h2 {
  color: #f50581;
}

.gridx2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gridx4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 5px 50px;
}

.gridx3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5px 50px;
}

.card {
  max-width: 90%;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding: 15px;
  gap: 20px;
}

.slow-animataion {
  animation-duration: 2s !important;
}

.card img {
  width: 70%;
  height: 50%;
}

.bg {
  background-color: #50464d;
}

.fa-quote-right {
  left: 30%;
  bottom: 0;
  font-size: 50px;
}

.black {
  margin: 0 auto;
  display: block;
  width: 100px;
}

.black img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

footer {
  background: rgb(15, 22, 41);
}

footer .fa-brands {
  font-size: 22px;
}

@media (max-width: 900px) {
  .gridx3,
  .gridx4 {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .black {
    margin: 0 auto;
    display: block;
    width: 100px;
    margin-top: 20px;
  }
}
